@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  } */

  body {
    @apply h-full min-h-screen bg-greyLit text-greyDrk;
  }
  h1 {
    @apply font-oswald text-[34px]  uppercase font-bold;
  }
  h2 {
    @apply font-oswald text-[30px] tracking-[15px] font-light text-center uppercase;
  }
  h3 {
    @apply font-oswald text-[24px] tracking-[15px] font-light text-center uppercase;
  }
  h4 {
    @apply font-oswald text-[20px] tracking-[15px] font-light text-center uppercase;
  }
  h5 {
    @apply font-oswald text-[16px] tracking-[15px] font-light text-center uppercase;
  }
  h6 {
    @apply font-oswald text-[16px] tracking-[15px] font-light text-left;
  }
  section {
    @apply w-full h-fit bg-neutral-200 border-b border-greyBorder;
  }
  p {
    @apply font-nunito;
  }
  .test {
    /* color: #ffffff00; //color opacity =0// */
  }
}

@layer components {
  .flex-center-center {
    @apply flex items-center justify-center;
  }
  .flex-center-between {
    @apply flex items-center justify-between;
  }
  .flex-center-left {
    @apply flex items-center justify-start;
  }
  .body-1-bold {
    @apply font-nunito text-[22px] capitalize font-medium tracking-wide;
  }
  .body-2 {
    @apply font-nunito text-[18px]  font-normal tracking-wide;
  }
  .body-3 {
    @apply font-nunito text-[14px]  font-normal tracking-normal;
  }
  .btn-1 {
    @apply font-nunito text-[34px] uppercase font-bold;
  }
  .btn-3 {
    @apply font-nunito text-[16px] uppercase font-light tracking-widest;
  }
  .btn-3-bold {
    @apply font-nunito text-[16px] uppercase font-medium tracking-widest;
  }
  .footnote-1 {
    @apply font-nunito text-[14px] leading-3;
  }
  .form-disable {
    @apply h-10 border flex-center-left p-2 bg-greyLit rounded-sm;
  }
  .form-regular {
    @apply h-8 border flex-center-left p-2  rounded-sm;
  }
}
