@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&display=swap");
body {
  font-family: "Nunito", arial;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input::-webkit-inner-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  body {
    @apply h-screen bg-greyLit text-greyDrk scroll-smooth scrollbar-none overflow-hidden;
  }
  mark {
    @apply bg-white;
  }
  h1 {
    @apply font-oswald text-[30px] md:text-[40px] tracking-[2px] uppercase font-normal shadow-black drop-shadow-sm;
  }
  h2 {
    @apply font-oswald text-[20px] md:text-[30px] font-normal  md:font-light  text-center uppercase;
  }
  h3 {
    @apply font-oswald text-[18px] md:text-[24px] tracking-[2px] md:tracking-[12px] font-light text-center uppercase;
  }
  h4 {
    @apply font-oswald text-[16px] md:text-[20px] tracking-[2px]  md:tracking-[7px] font-normal text-center uppercase leading-6;
  }
  h5 {
    @apply font-oswald text-[16px] tracking-[3px] font-medium text-center uppercase leading-5;
  }
  h6 {
    @apply font-oswald text-[16px] tracking-[2px] font-medium text-left;
  }
  section {
    @apply w-full h-fit bg-greyLit;
  }
  p {
    @apply font-nunito text-[18px]  font-normal tracking-normal text-greyDrk leading-5;
  }
  small {
    @apply font-nunito text-[14px]  font-normal tracking-normal text-greyDrk leading-5;
  }
  .test {
    /* color: #ffffff00; //color opacity =0// */
  }
  main {
    @apply h-full min-h-screen w-full bg-hoverBG pt-14;
  }
  article {
    @apply bg-greyLit;
  }
  mark {
    @apply bg-white;
  }
}

@layer components {
  .h-screen-min-top-bottom {
    @apply h-[calc(100vh-136px)];
  }
  .h-screen-min-bottom {
    @apply h-[calc(100vh-80px)];
  }

  .h-screen-min-top {
    @apply h-[calc(100vh-56px)];
  }
  .text-link {
    @apply cursor-pointer text-greyMed1 hover:text-greyDrk transition-all hover:font-bold tracking-[3px]  h-full flex-center-center w-28;
  }
  .flex-center-center {
    @apply flex items-center justify-center;
  }
  .flex-center-between {
    @apply flex items-center justify-between;
  }
  .flex-top-left {
    @apply flex items-start justify-start;
  }
  .flex-center-left {
    @apply flex items-center justify-start;
  }
  .body-1-bold {
    @apply font-nunito text-[22px] capitalize font-medium tracking-wide;
  }
  .body-2 {
    @apply font-nunito text-[18px]  font-normal tracking-wide leading-5;
  }
  .body-3 {
    @apply font-nunito text-[16px]  font-normal tracking-normal text-greyDrk leading-5;
  }
  .btn-1 {
    @apply font-nunito text-[20px] uppercase font-medium tracking-widest;
  }
  .btn-2 {
    @apply font-nunito text-[18px] uppercase font-normal tracking-widest;
  }
  .btn-2-bold {
    @apply font-nunito text-[18px] uppercase font-medium tracking-widest;
  }
  .btn-3 {
    @apply font-nunito text-[16px] uppercase font-light tracking-widest;
  }
  .btn-3-bold {
    @apply font-nunito text-[16px] uppercase font-semibold tracking-widest;
  }
  .btn-4 {
    @apply font-nunito text-[14px] uppercase font-light tracking-widest;
  }
  .btn-5 {
    @apply font-nunito text-[12px] uppercase font-light tracking-widest leading-3;
  }
  .btn-5-bold {
    @apply font-nunito text-[12px] uppercase font-semibold tracking-widest leading-3;
  }

  .button-lg {
    @apply btn-3-bold md:btn-2-bold bg-white bg-opacity-100 p-1 md:p-5 md:py-2 rounded-sm w-72 hover:bg-opacity-70 transition-all standard-border h-14;
  }
  .button-greenUrip {
    @apply btn-2-bold w-40 bg-greenUrip border border-greenUrip hover:bg-white text-white hover:text-greenUrip  rounded-sm transition-all active:bg-greenUripOpacity;
  }
  .button-grey {
    @apply btn-2-bold w-40 bg-greyMed2 border border-greyMed2  hover:bg-white text-white hover:text-greyMed1   rounded-sm transition-all;
  }
  .button-long {
    @apply standard-border p-2 w-full text-left overflow-visible hover:bg-greyLit transition-all active:bg-greenUrip;
  }
  .footnote-1 {
    @apply font-nunito text-[12px] text-greyMed1 leading-4;
  }
  .form-disable {
    @apply h-10 border flex-center-left p-2 bg-greyLit rounded-sm;
  }
  .form-regular {
    @apply h-8 border flex-center-left p-2  rounded-sm;
  }
  .standard-border {
    @apply border border-greyBorder rounded-sm bg-white overflow-hidden;
  }
  .custom-scrollbar {
    @apply overflow-y-scroll scrollbar-thin scrollbar-track-greyLit scrollbar-thumb-greyBorder;
  }
  .sub-form {
    @apply w-full text-left relative;
  }
  .active-input {
    @apply standard-border bg-white w-full h-10 outline-none p-2 cursor-pointer body-3;
  }
  .dark-input {
    @apply standard-border bg-greyLit w-full h-10 outline-none p-2 cursor-pointer body-3;
  }
  .form-line {
    @apply body-3 grid grid-cols-2  w-full gap-2 pb-2;
  }
  .footer {
    @apply hidden md:flex-center-center  fixed bottom-0 h-12 bg-greenUrip w-full z-40 transition-all overflow-hidden;
  }
  .footer-hide {
    @apply footer h-0;
  }
  .thanks {
    @apply bg-white h-fit max-h-[80vh] w-full absolute bottom-12 origin-bottom z-[60] cursor-pointer standard-border overflow-hidden;
  }
  .thanks-hide {
    @apply thanks h-[0vh];
  }
  .thanks-btn {
    @apply h-10 w-10 bg-greenUripOpacity mix-blend-screen hover:mix-blend-multiply standard-border overflow-hidden absolute right-2 top-1  cursor-pointer z-[60];
  }
}
