# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/.sanity
/dist
# testing
/coverage

# next.js
/.next/
/out/
/.vscode/
/.VSCodeCounter/
# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
*.ndjson
next-env.d.ts

/public/images/*
/public/sounds/*
**/data/*
# Local Netlify folder
.netlify


**/out/*
